<!DOCTYPE html>
<link th:href="@{/superherotheme.css}" rel="stylesheet">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Powers</title>
</head>
<body>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Hero Name</th>
        <th scope="col">Real Name</th>
        <th scope="col">Powers</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${heroPowerByName.heroName}"/>
        <td th:text="${heroPowerByName.realName}"/>
        <td th:text="${heroPowerByName.superPower}"/>
    </tr>
    </tbody>
</table>
</body>
</html>